In [1]:
import pandas as pd
from pathlib import Path
ROOT = Path('../..')
ROOT.resolve()

PosixPath('/Users/lukestrange/Code/housing')

In [2]:
def clean_data(file, sheet_name, header, skiprows=None):
    # Read the excel sheet from file.
    data = pd.read_excel(file, sheet_name=sheet_name, header=header, skiprows=skiprows)
    # Strip whitespace
    data = data.rename(columns=lambda x: x.strip())
    # Simplify column names
    data = data.rename(columns=lambda x: x.replace('Year ending ', ''))
    # Drop un-used columns
    if sheet_name == '2a':
        data.drop(columns=['Region/Country code', 'Region/Country name', 'Local authority name'], inplace=True)
        old_code_name = 'Local authority code'
    else:
        data.drop(columns='Name', inplace=True)
        old_code_name = 'Code'
    # Standardise the geo code column name
    data.rename(columns={old_code_name: 'geography_code'}, inplace=True)
    # Get all columns apart from the geo code
    cols = [col for col in data.columns if col != 'geography_code']
    # Melt the frame (unpivot) and set the index as the geo code
    data = data.melt(id_vars='geography_code', value_vars=cols, var_name='date', value_name='Median (£)').set_index('geography_code')
    return data

In [3]:
fpath = ROOT / 'raw/house-prices/hpssadataset9medianpricepaidforadministrativegeographies.xls'

In [4]:
la_data = clean_data(fpath, '2a', 6)
ca_data = clean_data(fpath, '4a', 6, skiprows=[8,10])
reg_nat_data = clean_data(fpath, '1a', 6, skiprows=[8,10])

In [5]:
combined = pd.concat([la_data, ca_data, reg_nat_data])

In [6]:
combined.to_csv(ROOT / 'data/house-prices/median_house_prices.csv')
combined.to_parquet(ROOT / 'data/house-prices/median_house_prices.parquet')

In [7]:
combined

                    date  Median (£)
geography_code
E06000001       Dec 1995     36500.0
E06000002       Dec 1995     40000.0
E06000003       Dec 1995     43000.0
E06000004       Dec 1995     45250.0
E06000005       Dec 1995     44000.0
...                  ...         ...
E12000006       Mar 2023    342500.0
E12000007       Mar 2023    535000.0
E12000008       Mar 2023    385000.0
E12000009       Mar 2023    310000.0
W92000004       Mar 2023    200000.0

[38610 rows x 2 columns]